# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
VENV/
.venv/

# Distribution / packaging
build/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg
*.egg
wheelhouse/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Next.js / Node
node_modules/
.next/
out/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace